<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link href="../../wwwroot/css/apptheme.css" rel="stylesheet" />
	<link href="../../wwwroot/css/site.min.css" rel="stylesheet" />
	<link href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="../../wwwroot/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../../wwwroot/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
	<link href="../../wwwroot/lib/bootstrap-validator/css/bootstrap-validator.min.css" rel="stylesheet" />
	<link href="../../wwwroot/lib/layui/css/layui.css" rel="stylesheet" />

	<script src="../../wwwroot/lib/vue/vue.js"></script>
	<script src="../../wwwroot/lib/layui/layui.js"></script>
	<script src="../../wwwroot/lib/jquery/dist/jquery.js"></script>
	<script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../../wwwroot/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="../../wwwroot/lib/bootstrap-validator/js/bootstrap-validator.min.js"></script>
	<script src="../../wwwroot/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="../../wwwroot/js/site.js"></script>
	<style type="text/css">
		* {
			margin: 0px;
			padding: 0px;
			font-size: small;
		}
		.input {
			height: 28px;
			padding: 6px 6px 6px 6px;
		}
	</style>
</head>
<body style="background-color: #F2F2F2;">
	<div class="container" id="app"  style="width: 94%; margin-left: 3%; margin-top:20px;">
		<form id="form1" rele="form" class="form-horizontal">
			<div class="form-group">
				<div class="col-xs-2 col-md-2  control-label">
					<label for="equipmentId">装备:</label>
				</div>
				<div class="col-xs-4 col-md-4">
					<select id="select_equipmentId" class="selectpicker form-control input" data-live-search="true" v-model="Data.equipmentId"  name="equipmentId">
						<option value="">--请选择--</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-2 col-md-2  control-label">
					<label for="qty">数量:</label>
				</div>
				<div class="col-xs-4 col-md-4">
					<input v-model="Data.qty" type="text" class="form-control input" id="qty" name="qty">
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-2 col-md-2  control-label">
					<label for="describes">备注:</label>
				</div>
				<div class="col-xs-8 col-md-8">
					<input v-model="Data.describes" type="text" class="form-control input" id="describes" name="describes">
				</div>
			</div>
			<div class="form-group">

				<div class="col-xs-2 col-md-2" style="text-align: right;">
				</div>
				<div class="col-xs-10 col-md-10" style="text-align: right;">
					<button type="button" class="layui-btn layui-btn-sm" onClick="Accept()">
						<i class="layui-icon layui-icon-ok"></i><span class="fontsm">&emsp;提交&emsp;</span>
					</button>
					<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onClick="iframecloses()">
						<i class="layui-icon layui-icon-close"></i><span class="fontsm">&emsp;取消&emsp;</span>
					</button>
				</div>
			</div>

		</form>
	</div>
</body>
</html>
<script src="../../wwwroot/js/App.js"></script>
<script>
	$(document).ready(function () {
		$('#form1').bootstrapValidator({
			message: 'This value is not valid',
			feedbackIcons: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				equipmentId: {
					message: '装备验证失败',
					validators: {
						notEmpty: {
							message: '装备不能为空'
						}
					}
				}
			}
		});
	});
	
	var loadIndex = 0;
	var layer;
	layui.use('layer', function () {
		layer = layui.layer;
	});
	var dictionaryItems = [{code:"", name:""}];	

	var vm = new Vue({
		el: "#app",
		data: {
			Data:{
				id: 0,
				equipmentOutStockId: 0,
				equipmentId: 0,
				qty: 0,
				describes: "",
				name: ""
			}

		},
		methods: {

		},
		watch: {
			Data: function() {
				this.$nextTick(function () {
					$('#select_equipmentId').empty()
					$('#select_equipmentId').append("<option value=''>--请选择--</option>");
					$('#select_equipmentId').append("<option selected='selected' value='"+vm.Data.equipmentId+"'>"+vm.Data.equipmentId_Convert+"</option>");
					$('#select_equipmentId').selectpicker('refresh');
				});
			}
		}
	});

	setTimeout(function() {
		SelectFrom("#select_equipmentId", function(filter) {
			getDictionaryequipmentId(filter);
		})
	}, 1000);

	
	$(function(){
	});

	function getDictionaryequipmentId(filter){
		PostAppAjax({
			url: '/getDictionaryItems',
			data: {
				dictionary: "Equipment",
				filter: filter			},
			success: function(result) {
				vm.dictionaryequipmentId = result;
				var parent = $("#select_equipmentId");
				parent.empty();
				parent.append("<option value=''>--请选择--</option>");
				for(var i=0; i<result.length;i++){
					parent.append("<option value='"+result[i].code+"'>"+result[i].name+"</option>");
				}
				parent.selectpicker('refresh');			},
			error: function(err) {
				alert("服务器忙，请重试!\n"+err.responseJSON.message);
			}
		});
	}


	
    function getData(id) {
        vm.Data.equipmentOutStockId = id;
		if(id>0){
			layui.use('layer', function () {
				layer = layui.layer;
				loadIndex = layer.load(0, {shade: false});
			});
			PostAppAjax({
				url: '获取数据的接口地址',
				data: {
					id: id
				},
				success: function(result) {
					layui.use('layer', function () {
						layer = layui.layer;
						layer.close(loadIndex);
					});
					if(result.code==0){
						vm.Data = result.data;
					}else{
						alert(result.msg);
					}
				},
				error: function(err) {
					layui.use('layer', function () {
						layer = layui.layer;
						layer.close(loadIndex);
					});
					alert("服务器忙，请重试!\n"+err.responseJSON.message);
				}
			});
		}
	}
	function Accept(){
		$('#form1').data("bootstrapValidator").validate();
 		var isValid = $('#form1').data("bootstrapValidator").isValid();
		if(isValid){
			layui.use('layer', function () {
				layer = layui.layer;
				loadIndex = layer.load(0, {shade: false});
			});
			PostAppAjax({
				url: '/Logistics/EquipmentOutStock/updateEquipmentOutStockItem',
				contentType: 'application/json;charset=utf-8',
				data: JSON.stringify(vm.Data).replace(new RegExp('\"NaN/NaN/NaN 00:00:00\"',"g"),"null"),
				success: function(result) {
					layui.use('layer', function () {
						layer = layui.layer;
						layer.close(loadIndex);
					});
					if(result.code==0){
						doTrigger("EquipmentOutStockitem"); //调用触发器，刷新查询
						iframecloses();
					}else{
						alert("数据提交不成功！\n\n错误信息：\n"+result.msg);
					}
				},
				error: function(err) {
					layui.use('layer', function () {
						layer = layui.layer;
						layer.close(loadIndex);
					});
					alert("错误信息：\n"+err.responseJSON.message);
				}
			});
		}
	}
</script>
