<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link href="../../wwwroot/css/apptheme.css" rel="stylesheet" />
	<link href="../../wwwroot/css/site.min.css" rel="stylesheet" />
	<link href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="../../wwwroot/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../../wwwroot/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
	<link href="../../wwwroot/lib/layui/css/layui.css" rel="stylesheet" />

	<script src="../../wwwroot/lib/vue/vue.js"></script>
	<script src="../../wwwroot/lib/layui/layui.js"></script>
	<script src="../../wwwroot/lib/jquery/dist/jquery.js"></script>
	<script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../../wwwroot/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="../../wwwroot/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="../../wwwroot/js/site.js"></script>
	<style type="text/css">
		* {
			margin: 0px;
			padding: 0px;
		}

		#table {
			margin: 0px auto;
			text-align-last: center;
		}

		#btn {
			margin-top: 30px;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<div id="app">
		<div style="width: 94%; margin-left: 3%; margin-top:20px;">
			<form rele="form" class="form-horizontal">
				<div class="form-group">
					<div class="col-xs-1 col-md-1 control-label" >
						<label for="name">驻点:</label>
					</div>
					<div class="col-xs-3 col-md-3">
						<select id="select_siteid" class="selectpicker form-control" data-live-search="true" v-model="Data.siteid" >
							<option value="">--请选择--</option>
						</select>						
					</div>
					<div class="col-xs-1 col-md-1 control-label" >
						<label for="name">日期:</label>
					</div>
					<div class="col-xs-2 col-md-２">
						<input type="text" class="layui-input form-control" v-model="Data.date" id="date" model="datetime" timeFormat="yyyy-MM-dd"  placeholder="yyyy-MM-dd">
					</div>
					<div class="col-xs-2 col-md-２">
						<button type="button" class="layui-btn layui-btn-sm" onClick="getData()">
    							<span class="fontsm">确定</span>
  						</button>
					</div>
				</div>
			</form>
		</div>
		<div style="width: 94%; margin-left: 3%; margin-top:20px;">
			<table class="layui-table">
				<colgroup>
					<col width="18%">
					<col width="8%">
					<col width="18%">
					<col width="8%">
					<col width="8%">
					<col width="8%">
					<col width="8%">
					<col width="8%">
					<col width="8%">
					<col width="8%">
				</colgroup>
				<thead>
					<tr>
						<th>岗位</th>
						<th>班次</th>
						<th>时间</th>
						<th>一</th>
						<th>二</th>
						<th>三</th>
						<th>四</th>
						<th>五</th>
						<th>六</th>
						<th>日</th>
					</tr>
				</thead>
				<tbody id="items">
                    <tr v-for="(item,index) in Scheles">
                        <td>{{item.post}}</td>
                        <td>{{item.post==''?'':item.schedule_Convert}}</td>
                        <td>{{item.post==''?'':(item.beginTime_Convert+'--'+item.endTime_Convert)}}</td>
                        <td><div v-bind:id="'a_1_'+index" v-show="item.d1SpiId>0" @click="setPersonnel(item.d1SpiId,item.d1SID,item.d1Date,1,index)"><span v-show="item.d1PID==0" style="font-size:12px;color:#0000ff;cursor:pointer;">[请选择]</span><span v-show="item.d1PID>0" style='color:#084212;cursor:pointer;'>{{item.d1PID_Convert}}</span></div></td>
                        <td><div v-bind:id="'a_2_'+index" v-show="item.d2SpiId>0" @click="setPersonnel(item.d2SpiId,item.d2SID,item.d2Date,2,index)"><span v-show="item.d2PID==0" style="font-size:12px;color:#0000ff;cursor:pointer;">[请选择]</span><span v-show="item.d2PID>0" style='color:#084212;cursor:pointer;'>{{item.d2PID_Convert}}</span></div></td>
                        <td><div v-bind:id="'a_3_'+index" v-show="item.d3SpiId>0" @click="setPersonnel(item.d3SpiId,item.d3SID,item.d3Date,3,index)"><span v-show="item.d3PID==0" style="font-size:12px;color:#0000ff;cursor:pointer;">[请选择]</span><span v-show="item.d3PID>0" style='color:#084212;cursor:pointer;'>{{item.d3PID_Convert}}</span></div></td>
                        <td><div v-bind:id="'a_4_'+index" v-show="item.d4SpiId>0" @click="setPersonnel(item.d4SpiId,item.d4SID,item.d4Date,4,index)"><span v-show="item.d4PID==0" style="font-size:12px;color:#0000ff;cursor:pointer;">[请选择]</span><span v-show="item.d4PID>0" style='color:#084212;cursor:pointer;'>{{item.d4PID_Convert}}</span></div></td>
                        <td><div v-bind:id="'a_5_'+index" v-show="item.d5SpiId>0" @click="setPersonnel(item.d5SpiId,item.d5SID,item.d5Date,5,index)"><span v-show="item.d5PID==0" style="font-size:12px;color:#0000ff;cursor:pointer;">[请选择]</span><span v-show="item.d5PID>0" style='color:#084212;cursor:pointer;'>{{item.d5PID_Convert}}</span></div></td>
                        <td><div v-bind:id="'a_6_'+index" v-show="item.d6SpiId>0" @click="setPersonnel(item.d6SpiId,item.d6SID,item.d6Date,6,index)"><span v-show="item.d6PID==0" style="font-size:12px;color:#0000ff;cursor:pointer;">[请选择]</span><span v-show="item.d6PID>0" style='color:#084212;cursor:pointer;'>{{item.d6PID_Convert}}</span></div></td>
                        <td><div v-bind:id="'a_7_'+index" v-show="item.d7SpiId>0" @click="setPersonnel(item.d7SpiId,item.d7SID,item.d7Date,7,index)"><span v-show="item.d7PID==0" style="font-size:12px;color:#0000ff;cursor:pointer;">[请选择]</span><span v-show="item.d7PID>0" style='color:#084212;cursor:pointer;'>{{item.d7PID_Convert}}</span></div></td>

                    </tr>
                </table>
		</div>
	</div>
</body>
</html>
<script src="../../wwwroot/js/App.js"></script>
<script>
	var dictionaryItems = [{ code: "", name: "" }];

	var vm = new Vue({
		el: "#app",
		data: {
			Data: {
				siteid: "",
				date: new Date().format("yyyy-MM-dd")
			},
			Scheles: [],
			dictionarysiteid: dictionaryItems
		},
		methods: {
			setPersonnel: function (spiid, sid, date, col, row) {
				selectPersonnel(spiid, sid, date, col, row);
			}
		}
	})
	layui.use('laydate', function () {
		var laydate = layui.laydate;
		laydate.render({
			elem: '#date',
			done: function (value) {
				vm.Data.date = value;
			}
		});
	});
	setTimeout(function() {
		SelectFrom("#select_siteid", function(filter) {
			getDictionarysiteid(filter);
		})
	}, 1000);
</script>

<script>
	var openIndex = 0;
	var loadIndex = 0;
	var layer;
	layui.use('layer', function () {
		layer = layui.layer;
	});

	
	var pageNumber = 1;
	var pageSize = 10;
	var recordCount = 0;
	var list = [];

	bindData();

	$(function(){
		getData();
		onTrigger(function(key){ if(key=="Schedule"){ getData(); } });
	});

	function getDictionarysiteid(filter){
		PostAppAjax({
			url: '/getDictionaryItems',
			data: {
				dictionary: "Site",
				filter: filter
			},
			success: function(result) {
				vm.dictionarysiteid = result;
				var parent = $("#select_siteid");
				parent.empty();
                parent.append("<option value=''>--请选择--</option>");
				for(var i=0; i<result.length;i++){
					parent.append("<option value='"+result[i].code+"'>"+result[i].name+"</option>");
				}
				parent.selectpicker('refresh');			},
			error: function(err) {
				alert("服务器忙，请重试!\n"+err.responseJSON.message);
			}
		});
	}

	
	function getData(){
		if(vm.Data.siteid!=""){
			loadIndex = layer.load(0, {shade: false});
			PostAppAjax({
				url: '/SiteManage/getScheduleByWeek',
				data: {
					siteid: parseInt(vm.Data.siteid),
					date: vm.Data.date.replace(/-/g,"/")
				},
				success: function(result) {
					layer.close(loadIndex);
					if(result.code==0){
						vm.Scheles = result.data;
					}else{
						alert("无法获取数据!\n"+result.msg);
					}
				},
				error: function(err) {
					layer.close(loadIndex);
					alert("服务器忙，请重试!\n"+err.responseJSON.message);
				}
			});
		}
	}

	function selectPersonnel(spiid, sid, date, col, row){
		var now = new Date();
		var d1 = now.format("yyyy-MM-dd");
		var d2 = date.replace(" 00:00:00","").replace("/","-").replace("/","-");
		if(d1 > d2){
			alert("不能修改过去的记录！");
		}else{
			loadIndex = layer.load(0, {shade: false});
			PostAppAjax({
				url: '/Base/Site/getPersonnelBySite',
				data: {
					siteid: parseInt(vm.Data.siteid),
					begdate: date.replace(/-/g,"/"),
					enddate: date.replace(/-/g,"/")
				},
				success: function(result) {
					layer.close(loadIndex);
					if(result.code==0){
						openSelectPersonnel(spiid, sid, date, result.data, col, row);
					}else{
						alert("无法获取数据!\n"+result.msg);
					}
				},
				error: function(err) {
					layer.close(loadIndex);
					alert("服务器忙，请重试!\n"+err.responseJSON.message);
				}
			});
		}
	}

	//打开人员选择弹出层
	function openSelectPersonnel(spiid, sid, date, list, col, row){
		openIndex = layer.open({
			type:1,
			id:"selectPersonnel",
			title:"请选择",
			area:['200px','360px'],
			content: getListHtml(spiid, sid, date, list, col, row)
		}); 
	}
	
	function getListHtml(spiid, sid, date, list, col, row){
		var html = "<div><div style='width: 80%; margin-left: 20%; margin-top:10px; margin-bottom:16px;'>";
		for(var index=0; index<list.length; index++){
			html = html + "<div onclick='save("+spiid+","+sid+",\""+date+"\","+list[index].pid+",\""+list[index].name+"\","+col+","+row+");'><span style='cursor:pointer;'>" + list[index].name + "</span></div>";
		}
		html = html+"</div></div>";
		return html;
	}


	function save(spiid, sid, date, pid, name, col, row){
		layer.close(openIndex);
		loadIndex = layer.load(0, {shade: false});
		PostAppAjax({
			url: '/SiteManage/updateSchedule',
			data: {
				spiid: spiid,
				date: date.replace(/-/g,"/"),
				sid: sid,
				pid: pid
			},
			success: function(result) {
				layer.close(loadIndex);
				if(result.code==0){
					getData();
				}else{
					alert("无法获取数据!\n"+result.msg);
				}
			},
			error: function(err) {
				layer.close(loadIndex);
				alert("服务器忙，请重试!\n"+err.responseJSON.message);
			}
		});
	}


</script>